/*#region Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
/*#endregion*/

/*#region Multipage Styles*/
body {background-color: black;
color: white;
font-family: 'Exo';}

a {text-decoration: none;
color: white;}

.navbutton:hover {background-color: white;
color: black;
border-radius: 2px;}

.navbutton:hover > a {color: black;
margin-left: auto;
margin-right: auto;}

.navbutton {
font-size: large;
color: white;
text-align: center;}

@keyframes fadeIn1 {
0% { opacity: 0; }
10% { opcaity: 0;}
100% { opacity: 1; }}

@keyframes fadeIn2 {
0% { opacity: 0; }
25% {opacity: 0;}
100% { opacity: 1; }}

@keyframes fadeIn3 {
0% { opacity: 0; }
50% { opacity: 0;}
100% { opacity: 1; }}

.navbar {display:grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 5px;}

footer {position: relative;
left: 0;
bottom: 0;
width: 100%;
font-size: small;}
/*#endregion*/

/*#region Home Styles*/

#homegrid {display: grid;    
grid-template-columns: repeat(3, 1fr) ;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

#homenameflex {display: flex;
grid-column: 1/1;
grid-row: 1/span 1;
text-align: right;
font-family: 'Big Shoulders Display';
font-weight: 400;
font-size: 10vw;
animation: fadeIn1 8s;}


#homename {font-family: 'Big Shoulders Display';
font-weight: 400;
font-size: 12vw;
display: inline-block;
animation: fadeIn1 8s;
}

#homeaspiring {display: flex;
grid-column: 3/3;
grid-row: 4/4;
text-align: right;
font-weight: 400;
animation: fadeIn3 4s;
}

#homeimgcontainer {display: flex;
flex-wrap: wrap;
grid-column: 1/span 3;
grid-row: 2/span 2;
}

#homeselfpic {margin: auto;
width: 100%;
height: 100%;
animation: fadeIn2 5s;
}

footer {position: relative;
left: 0;
bottom: 0;
width: 100%;
font-size: small;}

.nav1 {grid-column: 1/1;}
.nav2 {grid-column: 2/2;}
.nav3 {grid-column: 3/3;}
.nav4 {grid-column: 4/4;}
.nav5 {grid-column: 5/5;}
/*#endregion*/

/*#region About Styles*/
.aboutgrid {display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
margin-bottom: 50px;}

#abouttitle {text-align: center;
text-decoration: underline;}

#abouttext {border: white solid 2px;
text-align: justify;
padding: 5px;
margin-bottom: 50px;}

#aboutimagesgrid {display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(8, 1fr);}

#dogimgcontainer1 {grid-column: 1/span 7;
grid-row: 1/span 5;}

#dogimgcontainer2 {grid-column: 4/span 7;
grid-row: 5/span 5;}

#mecontainer {grid-column: 8/span 4;
grid-row: 2/span 4;}

#dogpic1 {width: 80%;}

#dogpic2 {width: 100%}

#mepic {width: 125%;
height: 100%;}

/*#endregion*/

/*#region Career Styles*/
#careergrid {display: grid;
grid-gap: 20px;
margin-bottom: 50px;
}

#careertitle {text-decoration: underline;
text-align: center;    
}

#careerstudent {border: white solid 2px;
text-align: justify;
padding: 5px;}

#careermanager {border: white solid 2px;
text-align: justify;
padding: 5px;}

#careersound {border: white solid 2px;
text-align: justify;
padding: 5px;}
/*#endregion*/

/*#region Education Styles*/
#educationgrid {display:grid;
grid-gap: 20px;
margin-bottom: 50px;}

#educationtitle {text-decoration: underline;
text-align: center;}

#educationnait {border: white solid 2px;
text-align: center;
padding: 5px}

#educationmacewan {border: white solid 2px;
text-align: center;
padding: 5px}

#imgnait {width: 50%;
margin-left: 25%;
}

#imgmacewan{width: 75%;
margin-left: 12.5%;}
/*#endregion*/

/*#region Contact Styles*/
#contactgrid {display: grid;
grid-gap: 20px;}

#contacttitle {text-align: center;
text-decoration: underline;}

#socialmediacontainer {border: white solid 2px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 20px;
margin-bottom: 50px;}

#socialmediatitle {text-decoration: underline;
text-align: center;
grid-column: 1/span 2;
grid-row: 1/1;}

#contactemailcontainer {border: white solid 2px;
text-align: center;}

#email {color:deepskyblue;}

#facebooklink {grid-column: 1/1;
grid-row: 2/2;}

#instagramlink {grid-column: 2/2;
grid-row: 2/2;}

#linkedinlink {grid-column: 1/1;
grid-row: 3/3;}

#githublink {grid-column: 2/2;
grid-row: 3/3;}

#facebooklogo {width: 50%;
margin-left: 25%;}

#instagramlogo {width: 50%;
margin-left: 25%;}

#linkedinlogo {width: 50%;
margin-left: 25%;}

#githublogo {width: 50%;
margin-left: 25%;
padding-bottom: 25px;}
/*#endregion*/

/*#region Desktop Design*/
@media screen and ( min-width : 800px ) {
    #homegrid {grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);}

    #homenameflex {grid-column: 1/span 1;
    grid-row: 1/span 1;
    text-align: left;}

    #homeaspiring {grid-column: 3/span 1;
    grid-row: 4/span 1;
    justify-self: right;
    align-self: end;}

    #homeimgcontainer{grid-column: 2/span 2;
    grid-row: 1/span 3;}

    #abouttitle {font-size: 8vh;}

    #dogpic1 {width: 70%}
    
    #dogpic2 {width: 90%}
    
    #mepic {width: 100%}
    
    #careertitle {font-size: 5vh;}

    #educationtitle {font-size: 5vh;}

    #imgnait {width: 20%;
    margin-left: 40%;}

    #imgmacewan {width: 40%;
    margin-left: 30%;}

    #contacttitle {font-size: 12vh;}

    #socialmediatitle {font-size: 10vh;}

    #facebooklogo, #instagramlogo, #linkedinlogo, #githublogo {
    width:30%;
    margin-left: 35%;}
}
/*#endregion*/